.modal{
  top: auto !important;
}

.modal-dialog{
  max-width: 1260px !important;
  width: 100% !important;
}


.cookie-text{
  font-size: 22px;
  color: #0439D6;
  max-width: 674px;
  text-align: justify;
}

.cookie-text a{
  font-size: 22px;
  font-weight: bold;
  color: #0439D6;
}

.notice{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 32px;
}

.buttons a{
  border-radius: 32px; 
  background: #EF0732;
  color: #fff;
  padding: 16px 71px;
  font-size: 24px;
}

@media(max-width: 972px){
  .buttons a{
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 18px;
  }

  .cookie-text{
    font-size: 16px;
    color: #0439D6;
    max-width: 674px;
  }

  .cookie-text a{
    font-size: 16px;
    font-weight: bold;
    color: #0439D6;
  }

  .modal-dialog{
    margin: 0 !important;
  }

  .notice{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 16px 8px;
  }
}